<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>ログインページ</title>
</head>
<body>
    <h2 class="login_text">ログイン</h2>
    <form class="login_form" action="//localhost:8080/user/login" method="post">
        <label for="username">ユーザーネーム</label>
        <input type="text" name="username" required autofocus><br>

        <label for="password">パスワード</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="ログイン">
    </form>
    <br>

    <div class="etc">
        <a href="//localhost:8080/signup">新規登録はこちら</a><br>
        <button type="button" onclick="history.back()">トップページに戻る</button>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>