<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sign_up.css">
    <title>signup</title>

</head>
<body>
    <h2 class="signup_text">新規登録</h2>
    <form class="signup_form" action="//localhost:8080/user/signup" method="post">
        <label for="username">ユーザーネーム</label>
        <input type="text" name="username" required autofocus><br>

        <label for="emailaddress">Eメールアドレス</label>
        <input type="email" name="emailaddress" required><br>

        <label for="password">パスワード</label>
        <input type="password" name="password" required><br>

        <label for="passwordconfirmaiton">確認のためもう一度パスワードを入力してください</label><br>
        <input type="password" name="passwordconfirmaiton" required><br>

        <input type="submit" value="新規登録">
    </form>
    <br>

    <div class="etc">
    <a href="//localhost:8080/login">登録済みならこちら</a><br>
    <button type="button" onclick="history.back()">トップページに戻る</button>
    </div>

    <script src="../static/js/sign_up.js"></script>
</body>
</html>